:root {
  --font-sm: 13px;
  --font-md: 16px;
  --font-lg: 20px;
}

nav {
  background-color: rgb(172, 213, 249);
}

main .container > img {
  display: block;
  width: 100%;
  margin-top: 50px;
  border-radius: 30px;
}

#title {
  text-align: center;
  color: #00000060;
  font-size: 3rem;
}

.row {
  justify-content: center;
}

#nav-list {
  flex-direction: row;
  justify-content: center;
}

#nav-list li {
  text-align: center;
  width: 80px;
  font-size: 13px;
}

#login-container,
#join-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  padding: 3rem 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  font-size: 0.8rem;
}

#login-title,
#join-title {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

#login-form form,
#join-form form {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form form > div,
#join-form form > div {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0.8rem 0;
}

#login-form form button,
#join-form form button {
  margin: 1.2rem 0;
  box-shadow: 1px 1px 3px #b1b1b160;
  background-color: rgb(172, 213, 249);
  color:rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

#join-form form .btn-group {
  justify-content: space-between;
}

#join-form form button:first-child {
  margin-right: 0.5rem;
}

#join-form form button:last-child {
  background-color: rgb(237, 245, 254);
  color:rgba(0, 0, 0, 0.5);
}

#login-form form button:hover,
#join-form form button:hover {
  margin-top: 1.2rem;
  background-color: rgb(115, 187, 250);
  box-shadow: 3px 3px 10px #74737360;
  color: #fff;
}

#join-form form > div {
  margin: 0.5rem 0;
}

@media (min-width: 578px) {
  html {
    font-size: var(--font-md);
  }
}

@media (min-width: 1028px) {
  html {
    font-size: var(--font-lg);
  }
  #login-form form > div {
    display: flex;
    justify-content: center;
  }
}

