/* Common CSS */
body {
  position: relative;
}

div {
  width: 100%;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  height: 500px;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
}

nav {
  padding: 0;
}

ul {
  display: flex;
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav li {
  text-align: center;
}


/* Login */

.login-form, .join-form {
  justify-content: center;
  align-items: center;
}

.login-form .login-title h1,
.login-form .login__input-group .pw{
  margin-bottom: 40px;
}

.login-form label {
  margin-bottom: 5px;
}

.login-form .form-group .col {
  margin-bottom: 20px;
}

.login-form .login__input-group form {
  justify-content: center;
  margin-bottom: 20px;
}

.find-user-info {
  justify-content: center;
}

.find-user-info li {
  text-align: center;
}

.find-user-info li a {
  display: inline-block;
  text-decoration: none;
  color: #999999;
}

.find-user-info li a:hover {
  font-weight: 900;
}



/* Join */
.join-form .join-title h1 {
  margin-bottom: 40px;
}

.join-form label {
  margin-right: 12px;
}

.join-form .join__input-group .form-group > col {
  margin-bottom: 7px;
}

.join-form .join__input-group .join__input_id .id-input {
  display: flex;
  flex-wrap: nowrap;
}

.join-form .btn-group .btns {
  margin-top: 40px;
}

.join-form .btn-group button {
  margin : 2px 2px;
}

.join__input-pw {
  margin: 0;
  padding: 0;
}

.test-label {
  opacity: 0;
}

.join-form p {
  display: inline-block;
  font-size: 8px;
  color: #fff;
}
